.Contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    height: 500px;
    width: 100%;
}

.Menu {
   /* background-color: red;*/
    flex-grow: 1;
    width: 200px;
}

.Contenido {
   /* background-color: royalblue;*/
    width: 70%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-height: 200px; 
}